.jumbotron{
    padding-top: 6rem;
    background-color: #273036;
}

#about {
    background-color: #ffd700;
}

#projects {
    background-color: #273036;
}

#contact {
    background-color: #ffd700;
}

section{
    padding-top: 5rem;
}

